* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login-wrapprer {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("./assets/img/login-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.alert-login {
  margin-bottom: 20px;
  font-weight: 500;
}

.login-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.project-name {
  text-align: center;
  color: rgb(29, 41, 68);
}
.copy-btn {
  margin-top: 15px;
}
.navbarMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}
.navbarMenu img {
  width: 80px;
}
